# dependencies
node_modules/

# environment
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel/

# coverage
coverage/